[submodule "mujoco-env/third_party/robomimic"]
	path = mujoco-env/third_party/robomimic
	url = https://github.com/ARISE-Initiative/robomimic
[submodule "mujoco-env/third_party/robosuite"]
	path = mujoco-env/third_party/robosuite
	url = https://github.com/ARISE-Initiative/robosuite
